.users .block {
    list-style: none;
}

.users__header {
    display: flex;
}

.box__date {
    min-height: 50px;
}

.users__name {
    margin: 0 2%;
    width: 26%;
}

.users__title {
    padding: 5px 15px;
    border-radius: 15px;
    background: #b600b6;
    color: #fff;
    display: inline-block;
}