.calendar {
    width: 70%;
    display: flex;
}
.calendar__date {
    width: 25%;
    height: 100%;
    position: relative;
}
.calendar__inner {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.work-block {
    position: relative;
}

.work-block i:first-of-type,
.work-block i:last-of-type {
    width: 10px;
    height: 100%;
    position: absolute;
}

.work-block i:first-of-type {
    top: 0;
    left: 0;
}
.work-block i:last-of-type {
    top: 0;
    right: 0;
}