.nav {
    width: 30%;
}
.nav__list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav__item {
    padding: 5px 15px;
}

.nav__link {
    color: #000000;
    text-decoration: none;
}

.nav__linl--active {
    border-bottom: 1px solid #333333;
}
