.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
}

.modal__row {
    padding: 10px 20px;
    display: flex;
}

.modal__left {
    width: 30%;
}
.modal__right {
    width: 70%;

}
.modal input,
.modal select {
    width: 90%;
    border-radius: 10px;
    padding: 15px 5%;
    border: 1px solid #333333;
}

.modal select {
    width: 100%;
}

.modal__footer {
    display: flex;
    padding: 25px 0;
}

.modal__btn {
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: cornflowerblue;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: cornflowerblue;
}